node_modules

# OS droppings
.DS_Store
Thumbs.db

# Build artifacts
lib
!lib/README.md
index.html
**/index.html

# Copied
_build/filters.js
_includes/partials/_nav.njk
_includes/page.njk
data/eleventyComputed.js
_includes/plain.njk
_build/eleventy-original.js