:host {
	gap: .3em;
}

#swatches {
	display: flex;
	gap: inherit;
}

color-swatch {
	position: relative;
	margin: 0;
	flex: 1;

	.color-name, input.color {
		--_border-color: var(--border-color, color-mix(in oklab, currentcolor 70%, oklab(none none none / 0%)));

		font: inherit;
		box-sizing: border-box;
		padding: .1em .2em;
		border-radius: .2rem;
		border: 1px solid var(--_border-color);

		&:not(.editable) {
			border-color: transparent;
		}
	}

	.remove-button {
		all: unset;
		position: absolute;
		inset-inline-end: .1em;
		inset-block-start: .3em;

		display: grid;
		place-items: center;
		inline-size: 1.5em;
		padding: .2em;
		aspect-ratio: 1;

		font-size: 70%;
		line-height: 1;
		text-align: center;

		border-radius: 50%;
		border: 1px solid color-mix(in oklab, currentcolor 20%, oklab(none none none / 0%));
		box-shadow: 0 .05em 1em -.7em black;
		background-color: white;

		cursor: pointer;

		transition: transform .2s;

		&:is(:hover, :focus) {
			transform: scale(1.1);
		}
	}
}

#add-button {
	margin-block-start: .5em;
}

@supports (grid-template-columns: subgrid) {
	/* Avoid uneven swatch heights */
	#swatches {
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: auto auto;
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	}

	color-swatch {
		width: 100%;
		grid-row: 1 / span 2;
		display: grid;
		grid-template-rows: subgrid;
		/*
		  Container queries don't play well together with subgrid in Chrome 129.
		  See https://issues.chromium.org/issues/369331413
		  This is a workaround to avoid the issue until the new Chrome version is released.
		*/
		contain: inline-size layout;

		&::part(swatch) {
			grid-row: 1;
		}
	}
}
