---js
{
	layout: "page.njk",
	body_classes: "cn-ignore component-page",
	eleventyComputed: {
		name: function (data) {
			let url = data.page.url;
			if (url.includes("/src/")) {
				return url.match(/\/src\/([^/]+)/)[1];
			}
		},
		tag: function (data) {
			let name = data.name;
			if (name) {
				return `<${name}>`;
			}
		},
		title: function (data) {
			return data.title || data.tag;
		},
	}
}
---

<script src="{{ page | relative }}/index.js" type="module"></script>
<script src="{{ name }}.js" type="module"></script>

<aside id="toc">
	<ul>
	{% for name, description in components -%}
	<li><a href="{{ page | relative }}/src/{{ name }}/"><code>&lt;{{ name }}&gt;</code></a></li>
	{% endfor %}
	</ul>
</aside>

{{ content | safe }}

<section id="installation">
{% md %}
## Installation

To install all color elements, check out the [instructions on the homepage](../).
The rest of this section is about using _only_ `{{ tag | safe }}`.

You can import it via a bare specifier:

```js
import "color-elements/{{ name }}";
```

or:

```js
import { {{ name | tag_to_class }} } from "color-elements";
```

Use these with [Nudeps](https://nudeps.dev) — no bundler needed — or with any bundler you already have.

Otherwise, you can use a CDN such as [esm.sh](https://esm.sh):

```html
<script src="https://esm.sh/color-elements/{{ name }}" type="module"></script>
```
{% endmd %}
</section>
