---js
{
	layout: "page.njk",
	body_classes: "cn-ignore component-page",
	eleventyComputed: {
		name: function (data) {
			let url = data.page.url;
			if (url.includes("/src/")) {
				return url.match(/\/src\/([^/]+)/)[1];
			}
		},
		tag: function (data) {
			let name = data.name;
			if (name) {
				return `<${name}>`;
			}
		},
		title: function (data) {
			return data.title || data.tag;
		},
	}
}
---

<script src="{{ page | relative }}/index.js" type="module"></script>
<script src="{{ name }}.js" type="module"></script>

{{ content | safe }}

<section id="installation">
{% md %}
## Installation

To install all color elements, check out the [instructions on the homepage](../).
The rest of this section is about using _only_ `{{ tag | safe }}`.

The quick and dirty way is straight from the CDN (kindly provided by [Netlify](https://www.netlify.com/)):

```html
<script src="https://elements.colorjs.io/src/{{ name }}/{{ name }}.js" type="module"></script>
```

or in JS:

```js
import "https://elements.colorjs.io/src/{{ name }}/{{ name }}.js";
```

If you are using npm to manage your dependencies, you can import it via:

```js
import "color-elements/{{ name }}";
```

or:

```js
import { {{ name | tag_to_class }} } from "color-elements";
```
{% endmd %}
</section>