.color-slider {
	display: block;
	margin: 0 1em auto 0;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: linear-gradient(to right, var(--stops)), var(--transparency);
	height: 2.2em;
	border-radius: .3em;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);


&::-webkit-slider-thumb {
	width: 1em;
	height: 2.3em;
	-webkit-appearance: none;
	border-radius: .15em;
	border: 1px solid black;
	box-shadow: 0 0 0 1px white;
}

&::-moz-range-thumb {
	width: 1em;
	height: 2.3em;
	border-radius: .15em;
	border: 1px solid black;
	box-shadow: 0 0 0 1px white;
	background: transparent;
}

&::-moz-range-track {
	background: none;
}

& + input[type=number] {
	position: absolute;
	margin-top: -4em;
	left: calc(100% * var(--percentage));
	transform: translateX(-50%);
	padding: .2em .5em;
	width: 3em;
	border: 0;
	border-radius: .3em;
	text-align: center;
	color: white;
	background: rgba(0,0,0,.8);
	font: inherit;
	font-size: 120%;
	transition: .3s left cubic-bezier(.17,.67,.49,1.48) ;
}

	/* Prevent input from moving all over the place as we type */
	& + input[type=number]:focus {
		transition-delay: .5s;
	}

	label:not(:focus-within):not(:hover) > .color-slider + input[type=number] {
		display: none;
	}

}

.color-slider-label {
	position: relative;
}