:host {
	--border-width: 1px;
	--border-color: rgb(0 0 0 / .2);
	--border-radius: .2em;

	padding: .3em .5em;

	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--border-color);
}

#picker {
	font: inherit;
	color: inherit;
	background: inherit;
	border: none;
	field-sizing: content;
	cursor: pointer;

	&:focus:not(:focus-visible) {
		outline: none;
	}
}
