<a href="https://colorjs.io">Color.js</a>
<div class="menu">
	<a href="{{ page | relative }}">Elements</a>
	<ul>
		{% for name in components %}
			<li><a href="{{ page | relative }}/src/{{ name }}/"><code>&lt;{{ name }}&gt;</code></a></span>
		{% endfor %}
	</ul>
</div>

<a href="https://github.com/color-js/elements{{ ('/tree/main/src/' + name) if name }}" target="_blank">GitHub</a>
<a href="https://github.com/color-js/elements/issues/new{{ ('?title=[' + name + '] ') if name }}" class="footer" target="_blank">File bug</a>
