:host {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

#sliders {
	flex: 3;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	gap: .3em;
	min-inline-size: 10em;
}

[part="swatch"],
slot[name="swatch"]::slotted(*) {
	flex: 1;
	width: auto;
	margin: 0;

	&::part(swatch) {
		flex: 1;
	}
}

