[part=wrapper] {
	--border-width: 1px;
	--border-color: rgb(0 0 0 / .2);
	--border-radius: .2em;

	inline-size: fit-content;
	padding: .3em .5em;

	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);

	legend {
		padding: 0;

		space-picker {
			margin-inline: .15em;
		}
	}
}

#channels {
	display: flex;
	gap: .5em;
}
