:host {
	display: inline-flex;
	align-items: baseline;
	gap: .2em;

	padding: .3em .5em;

	border: 1px solid;
	border-radius: .2em;
}

#picker {
	font: inherit;
	color: inherit;
	background: inherit;
	border: none;
	field-sizing: content;
	cursor: pointer;

	&:focus:not(:focus-visible) {
		outline: none;
	}
}

#space_picker {
	padding: initial;
	border: none;
}
