:host {
	--border-width: 1px;
	--border-color: rgb(0 0 0 / 0.2);
	--border-radius: 0.2em;

	padding: 0.3em 0.5em;

	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
}

#picker {
	font: inherit;
	color: inherit;
	background: inherit;
	border: none;
	field-sizing: content;
	cursor: pointer;

	&:focus:not(:focus-visible) {
		outline: none;
	}
}

#space_picker {
	padding: initial;
	padding-inline-end: 0.4em;
	border-radius: 0;
	border: none;
	border-inline-end: var(--border-width) solid var(--border-color);
}
