.color-slider-label {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: .3em;
	position: relative;

	em {
		opacity: 60%;
	}
}

color-slider {
	grid-column: 1 / -1;
}

input[type=number] {
	--_tooltip-background: hsl(0 0 0 / 80%);
	position: absolute;
	margin-top: -1em;
	left: calc(100% * var(--progress));
	transform: translateX(-50%);
	padding: .2em .5em;
	width: 3em;
	border: 0;
	border-radius: .3em;
	text-align: center;
	color: white;
	background: var(--_tooltip-background);
	font: inherit;
	font-size: 120%;
	transition: .3s left cubic-bezier(.17,.67,.49,1.48);
	field-sizing: content;
	color-scheme: dark;

	@supports (field-sizing: content) {
		width: auto;
	}

	/* Prevent input from moving all over the place as we type */
	&:focus {
		transition-delay: .5s;
	}

	&::-webkit-inner-spin-button {
		opacity: 1;
		background: var(--_tooltip-background);
		color-scheme: dark;
	}

	&:is(label:not(:focus-within):not(:hover) > *) {
		display: none;
	}
}



